.header-home{
    height: 200px;
}

main{
    display: flex;
    justify-content: center;
}

.issue-acesse{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
    min-height: 50px;
}

.issue-acesse .icon, .issue-acesse button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: auto;
}

.issue-acesse .infos{
    width: 95%;
    font-size: 26px;
}

.issue-acesse button{
    background-color: transparent;
    cursor: pointer;
}

.issue-acesse button:hover{
    transition: .4s;
    color: red;
}


.issue-acesse fieldset{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 72px;
    padding: 5px 0;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto; 
}

.issue-acesse fieldset legend{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-left: 60px;
}